*{
  margin: 0;
  padding: 0;

}

body {
  margin: 0% 8%;
  background-color: wheat;
}
h1 {
  background-color: gray;
  color: black;
  border: whitesmoke;
  font-weight: bolder;
  border: solid black 0.1rem;
  display: inline-block;
  margin: 1rem 50%;
  transform: translateX(-50%);
  padding: 0 2rem;
}

h4{
text-align: center;
}

.container{margin: 2rem;
  background-color: cadetblue;
  padding: 1rem;
  
}
.nameContainer {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}
.name {
  display: inline-block;
  /* margin-top: 1rem; */
}
.counter {
  font-weight: 900;
  font-size:xx-large;
  text-align: center;
}
.language {
  display: flex;
  text-align: center;
  margin: 1rem 0rem;
  justify-content: space-evenly;
}

.buttons {
  background-color: blue;
  color: white;
  border: none;
  border-radius: .3rem;
  border: white solid .1rem;
  font-weight: bold;
  margin: .2rem 0;
  width: 40%;
  justify-content: center;
  display: block;
  text-align: center;
}
.display {
  display: flex;
  justify-content: space-around;
}
.greet{
  color:black;
}
.message{
  color: red;
}
.btn{
    background-color: blue;
  color: white;
  border: none;
  width: 100%;
  }
@media (max-width: 425px) {
  .nameContainer {
    flex-direction: column;
    
  }
  .greetCount {
    display: block;
    margin-top: 0.5rem;
  }
}
@media (max-width: 375px) {
  .nameContainer,
  .language,  
  .display{
    flex-direction: column;
    margin-top: 1rem;
  }
  .greetCount {
    display: block;
    margin-top: 0.5rem;
   text-align: center;
  }
  
  .buttons{
    background-color: blue;
  color: white;
    width: 30%;
    text-align: center;
    justify-content: center;

  }
  
  h1 { 
    padding: 0 1rem;
  }
}


